.cap_bar{
	border-bottom: 1px solid #ccc;
	height: 35px;

}
.cap_bar .newItem{
	font-size: 13px;
	margin-left: 10px;
	margin-top: 5px;
	position: relative;
	cursor: pointer;
}
.cap_bar #dropdown_div_newItem{
	z-index: 1;
	position: absolute;
	border: 1px solid #ccc;
	width: 220px;
	height: 200px;
	background: #fff;
	display: none;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 13px;
}
.cap_bar #dropdown_div_newItem label{
	font-family: sans-serif;
	margin-left: 10px;
}
.cap_bar #dropdown_div_newItem input,select{
	font-family: sans-serif;
	margin-top: 5px;
}
.cap_bar #dropdown_div_newItem .material{
	width: 148px;
}
.cap_bar #dropdown_div_newItem textarea{
	font-family: sans-serif;
	margin-top: 5px;
	margin-left: 10px;
	width: 200px;
	height: 40px;
	resize: none;
}
.cap_bar #dropdown_div_newItem button{
	margin-top: 5px;
	margin-left: 10px;
	padding: 3px 3px 3px 3px;
	cursor: pointer;
}
.cap_bar #dropdown_div_newItem .guardar{
	border: 1px solid #0066BB;
	background: #0066BB;
	color: #fff;
}
.cap_bar #dropdown_div_newItem .eliminar{
	border: 1px solid #BB1100;
	background: #BB1100;
	color: #fff;
}
.cap_bar .editItem{
	font-size: 13px;
	margin-left: 20px;
	margin-top: -21px;
	position: relative;
	cursor: pointer;
}
.cap_bar #dropdown_div_editItem{
	z-index: 1;
	position: fixed;
	border: 1px solid #ccc;
	width: 235px;
	height: 240px;
	background: #fff;
	display: none;
	margin-left: 105px;
	font-size: 13px;
}
/*contenedor class */
.contenedor{
	border: 0px solid;

}
.contenedor .jqxgrid{
	border: 0px solid red;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 78.8%;

}
.contenedor .jqxgrid tbody td{
	height: 30px;
}
