body {
    padding: 0;
    margin: 0;
}
.nav_top{
    border: 1px solid;
    height: 50px;
    background: #1B2631;
}
.nav_top .img_logo{
    width: 100px;
    height: 45px;
    position: absolute;
    margin-top: 2px;
    margin-left: 50px;
    float: left;
}
.nav_top .select_dropdown{
    position: absolute;
    float: left;
    margin-left: 200px;
}
.dropbtn {
    background: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #E5E7E9;
    color: #000;
}
button{
    outline: none;
}