body{
	font-family: sans-serif;
}
label{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;
}
input{
	margin-top: 10px;
	border: 1px solid #ccc;
}
.serie{
	padding: 10px;
	border-radius: 5px;
	width: 30%;
}
.lastserie{
	padding: 10px;
	border-radius: 5px;
	width: 30%;
	background: #FFF8CC;
	font-weight: bolder;
}
hr{
	height:1px; 
   background-color:#ccc; 
   border:none;
}
.box{
	border:1px solid #ccc;
	float: left;
	display: inline-block;
	margin-top: 10px;
	margin-left: 80px;
	margin-right: 50px;
	width: 300px;
}
.box header{
	border-bottom:1px solid #ccc;
	text-align: center;
	padding: 10px 50px 10px 50px;
	font-size: 40px;
	background: #E5E7E9;
}
.box .data{
	color: green;
	text-align: center;
	padding: 10px 50px 10px 50px;
	font-size: 27px;
	height: 30px;
}

.red{
	color: red;
	font-size: 25px;
}
.green{
	color: green;
	font-size: 25px;
}
.orange{
	color: orange;
	font-size: 25px;
}
.box_Result{
	border:1px solid #ccc;
	float: left;
	display: inline-block;
	margin-top: 70px;
	margin-left: 55px;
	margin-right: 30px;
	width: 350px;
}
.box_Result header{
	border-bottom:1px solid #ccc;
	text-align: center;
	padding: 10px 50px 10px 50px;
	font-size: 40px;
	background: #E5E7E9;
}
.box_Result .data{
	color: #1B2631;
	text-align: center;
	padding: 10px 50px 10px 50px;
	font-size: 100px;
	height: 150px;
}
.box_Result .dataMayor{
	color: green;
	text-align: center;
	padding: 10px 50px 10px 50px;
	font-size: 100px;
	height: 150px;
}
.box_Result .dataMenor{
	color: red;
	text-align: center;
	padding: 10px 50px 10px 50px;
	font-size: 100px;
	height: 150px;
}
h1{
	padding: 10px 0px 0px 10px;
	color: green;
}
/**/
.location{
	padding: 10px;
	border-radius: 5px;
	width: 10%;
}
.submit{
	padding: 10px;
	border-radius: 7px;
	margin-left: 15px;
	background: #28B463;
	color: #fff;
	border:1px solid;
}